{% assign career_profile = site.data.data.career-profile %}
{% if career_profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career_profile.title }}
  </h2>

  <!-- 인라인 스타일로 줄바꿈 유지와 간격 조정 -->
  <div class="summary" style="white-space: pre-line; margin-top: 0.5rem; line-height: 0;">
    {{ career_profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}